body {
  font-family: sans-serif;
}


.title{
  text-align: center;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 40
}

.productsImg {
  width: 210px;
  height: 210px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
}

.home {
text-align: center;
color: blueviolet
}
